<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>file:///var/mobile/Containers/Data/Application/C5CEA20B-A5E7-443F-8A28-6F67CD8BFA09/Documents/RatinSertResourcesWebServerDocument/ColorCapture.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://bsssit.cjh.com/dtap/public/app/ios/configFile/audiopro.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://bsssit.cjh.com/dtap/public/app/ios/configFile/audiopro.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>title</key>
				<string>Color Collect</string>
				<key>bundle-version</key>
				<string>2.6.8</string>
				<key>kind</key>
				<string>software</string>
				<key>bundle-identifier</key>
				<string>com.wizeyes.colorcapture</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
